{% extends 'todo/base.html' %}
{% block content %}

<h1>Current Todos</h1>



<div class="list-group">
    {% for todo in todos %}
    <a href="{% url 'viewtodo'  todo.id %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}</h5>
        <small>{{ todo.created }}</small>
      </div>
      <p class="mb-1">{% if todo.memo %} <br> {{todo.memo}}{% endif %}</p>
      {% if todo.important %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> IMPORTANT!! </strong>
      {% endif %}
        
      </div>
    

    

      
     
    </a>
    {% endfor %}
  </div>

  





{% endblock %}